.button-container {
  max-width: 80%;
  min-height: 5rem;
  margin: 1.5rem auto;
  text-align: center;
}

.page-button {
  min-width: 40px;
  min-height: 30px;
  margin: 0.15rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  background: #00206B;
  color: #fff;
  font-weight: 800;
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.page-button:hover, .page-button:focus {
  background: #003485;
}

.page-button:focus {
  outline: 1px solid #fff;
}