.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.25em auto;
  width: 95vw;
  height: auto;
  border-radius: 10px;
  position: relative;
}

.card-outer {
  width: 300px;
  height: 350px;
  margin: 0.25rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.card-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.card-info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.card-outer:hover .card-img {
  opacity: 0.3;
  cursor: pointer;
}

.card-outer:hover .card-info {
  opacity: 1;
  cursor: pointer;
 }

 .uploader {
   margin-bottom: 1rem;
 }

 .faHeart {
   color: red;
 }

 .close-button {
  border-radius: 5px;
  margin: 0.15rem;
  padding: 0.5rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: #00206B;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 20%);
  cursor: pointer;
 }

 .close-button:hover, .close-button:focus {
  background: #003485;
}

@media (max-width: 25em) {
  .card-container {
    width: 80vw;
  }
}