body {
  background-color: #404756;
}

.navbar-container {
  width: 100%;
  height: 3rem;
  background: #003485;
  box-shadow: 3px 3px 5px 1px rgb(0 0 0 / 15%);
}

.navbar-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}

.navbar-links {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}